.container {
  max-width: 800px;
  height:900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content:center;
  align-items: center;

}
.box{
    width: 200px;
    height: 200px;
    background-color: #3498db;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: all 1.5s ease 0s;
    box-shadow: 5px 5px 15px 20px rgba(0, 0, 0, 0.3);
}
.box:hover{
    transform:scale(1.5);
    transform:scale(1);
    transform:scale(0.5);
    transform:translate(50px);
    transform:translate(0px,50px);
    transform:translate(50px,-70px);
    transform:rotate(45deg);
    transform:rotate(-45deg);
    transform:rotate(360deg);
    transform:skew(20deg);
    transform:skew(-20deg);
    transform:skew(45deg,20deg);
}